body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.to-do-list {
  width: 500px;
  &__wrapper {
    .item {
      display: flex;
      flex-direction: row;
    }
  }
  &__item {
    &__check {
      cursor: pointer;
      flex: 1;
    }

    &__text-holder {
      flex: 5;
    }

    &__remove {
      flex: 1;
    }
    &--finished {
      .text-holder {
        .text {
          text-decoration: line-through;
        }
      }
    }
  }
}
